:root {
	--scene:  #cc2;
	--goto:   #c22;

	--video:  #228;
	--audio:  #822;
	--image:  #288;

	--delay:  #222;

	--loop:   #22c;
	--queue:  #2cc;
	--random: #c2c;

	--sync:   #7c7;
	--button: #484;
	--all:    #2c2;
}
