input[type=checkbox] {
	margin: 5px;
}

input[type=text] {
	color: white;
	background: #fff4;

	border: 2px solid #0004;
	padding: 3px;
	border-radius: 6px;

	transition: border-color 222ms, box-shadow 222ms, color 222ms, background 222ms;
}
input[type=text]:hover {
	border: 2px solid #0008;
	background: #fff7;
}
input[type=text]:focus {
	box-shadow: inset 0px 0px 4px #0006;

	border-color: #0ff;
	color: #0ff;
}

.media button, .media input[type=button] {
	text-shadow: 1px -1px 3px #0007;

	background: linear-gradient(to bottom, #0002, #0007);
	border: 1px solid #0007;
	border-radius: 4px;
	padding: 4px;
	color: #fff;
	cursor: pointer;
}
.media button:active, .media button:hover:active, .media input[type=button]:active, .media input[type=button]:hover:active {
	background: linear-gradient(to bottom, #000f, #0007);
	text-shadow: 0px 0px 3px #0007;
	color: #ddd;
}
.media button:hover, .media input[type=button]:hover {
	background: linear-gradient(to bottom, #0003, #0006);
	border: 1px solid #0009;
	color: #eee;
}

label {
	display: flex;

	align-items: center;
}

label span {
	padding: 0 10px;
}
