.viewport {
	z-index: 0;
	display: flex;
	flex-direction: column;
}

.greet {
	z-index: 1;
}

.center {
	align-items: center;
	justify-content: center;
}

.full {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.json-viewer {
	display: flex;
	flex-grow: 0;
	min-height: 122px;
}

.json-viewer > div {
	flex-direction: column;
}

.visual-viewer {
	display: flex;
	flex-grow: 5;
}

.visual-viewer .sidebar {
	flex-direction: column;
	flex-grow: 0;
}
