* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: 100%;
}

textarea {
	resize: none;
	flex-grow: 1;
}

div {
	display: flex;
	flex-grow: 1;
}

input[type=text] {
	min-width: 0;
	width: 100%;
}

hr {
	margin: 8px 0;
	border: 0;

	height: 1px;

	background: linear-gradient(to right, #0000, #0005, #0000);
}

button {
	min-width: 100px;
	font-size: 1em;
}

img + button.imgchooser {
	display: flex;
}
img[src] + button.imgchooser {
	display: none;
}
video[src] + button.imgchooser {
	display: none;
}
