.media {
	position: absolute;

	flex-direction: column;
	background: #777;

	min-width: 2em;
	min-height: 2em;

	color: white;

	cursor: default;

	border-width: 2px;
	border-style: solid;
	border-color: #000;

	border-radius: 5px;

	transform: none;

	box-shadow: 4px 4px 4px #0006;

	user-select: none;

	transition: transform 222ms, box-shadow 222ms, opacity 222ms;
}

.media .title {
	position: relative;

	background: linear-gradient(45deg, #0000, #0005);

	border-bottom: 1px solid #0004;

	align-items: center;
	justify-content: space-between;

	font-size: 0.8em;
	font-weight: bold;
}

.media .title > span {
	padding: 1px 5px;

	text-shadow: 1px 1px 5px #0008;

	cursor: pointer;

	/* This is important to allow people to drag the window even if it's empty */
	margin-right: 22px;

	z-index: 1;
}

.media .title .dragger {
	position: absolute;

	width: 100%;
	height: 100%;
}

.media .content {
	flex-grow: 10;
	flex-direction: column;
}

.media.dragged {
	transform: scale(1.05);

	opacity: 0.9;

	box-shadow: 12px 12px 12px #0004;

	pointer-events: none;
}

.media.selected {
	border-color: #0ff;

	z-index: 10;
}
.media.selected::after {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	background: #0ff2;

	pointer-events: none;

	content: "";
}

.media.attached {
	position: relative;

	border-color: #0004;

	box-shadow: 0 0 0 #0000;
}

.media p.source {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -25%);

	word-wrap: break-word;
	width: 100%;
	text-align: center;
}

/* Hide videos without source. */
.media video {
	width: 0px;
}

.media.minimized .title > span {
	font-style: italic;
}

.media.minimized .content {
	display: none;
}

.media.error .content {
	box-shadow: inset 0px 0px 2px 5px #ff0000bd;
}

.media.error .title {
	color: #f22;
}

.media video[src], .media audio, .media img[src], .media button {
	width: 100%;
	max-width: 122px;
}

.media[data-type=scene] {
	background: var(--scene);
}
.media[data-type=scene] > .content {
	padding: 8px;
}
.media[data-type=goto] {
	background: var(--goto);
}

.media[data-type=video] {
	background: var(--video);
}
.media[data-type=audio] {
	background: var(--audio);
}
.media[data-type=image] {
	background: var(--image);
}

.media[data-type=delay] {
	background: var(--delay);
}

.media[data-type=loop] {
	background: var(--loop);
}
.media[data-type=queue] {
	background: var(--queue);
}
.media[data-type=queue] .list > .snapzone:last-child {
	max-width: 30px;
}
.media[data-type=random] {
	background: var(--random);
}
.media[data-type=random] .list > .snapzone:last-child {
	max-width: 30px;
}
.media[data-type=sync] {
	background: var(--sync);
}
.media[data-type=all] {
	background: var(--all);
}
.media[data-type=all] .list > .snapzone:last-child {
	max-width: 30px;
}
