.section {
	display: flex;

	flex-direction: column;
}

.section hr {
	color: #ccc;
}

.section .heading {
	flex-grow: 0;

	padding: 10px;

	border-bottom: 1px solid #999;
}
.section .content {
	flex-direction: column;
	flex-grow: 1;

	padding: 5px;
}

.json.section {
	flex-grow: 0;
}
