.snapzone {
	padding: 5px;

	flex-basis: 50px;

	width: 100%;
}

.snapzone .stub {
	position: relative;
}

.snapzone .stub:empty {
	border-width: 2px;
	border-style: dashed;
	border-color: #0001;

	min-height: 22px;
	min-width: 22px;
}

.snapzone.snapped .stub {
	border-color: #0ff8;
}
.snapzone.snapped .stub::after {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	background: #0ff5;

	pointer-events: none;

	content: "";
}
